@media (max-width: 750px) {
  .container {
    display: block;
  }
  
  .container .gif img {
    width: 280px;
    height: 100%;
  }

  .container h1 {
    font-size: 55px;
  }
  
  .container h5 {
    font-size: 25px;
  }

  #about p {
    font-size: 14px;
    margin: auto;
    margin-bottom: 100px;
  }
}
